fastapi==0.115.6
motor==3.6.0
pydantic==2.10.3
python-dotenv==1.0.1
uvicorn==0.34.0
emergentintegrations --extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
requests==2.32.3
aiohttp==3.10.11